---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title='Welcome to Astro.'>
	<main>
		<p>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet recusandae iure quo fugit excepturi, a, quos
			voluptates praesentium enim eius laboriosam corrupti asperiores odio numquam assumenda nostrum repellendus
			debitis? Qui!
		</p>
	</main>
</BaseLayout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
